#sq{
    color:aliceblue;
    height: 100px;
    width:100px;
    align-items: center;
}
#q{
    height:100px;
    width:100px;
    border: 1px solid  black;
    background-color: aqua;
}
.bl{
background-color: Red;
color:gold ;
text-align: center;
}